/*--------------------------------------------------------------
# Address
--------------------------------------------------------------*/
address {
  margin-block-end: $spacing-01;
  word-wrap    : break-word;
  font-family  : $serif;
  line-height  : 1.25rem;
}
