/*--------------------------------------------------------------
# Address
--------------------------------------------------------------*/
address {
  margin-bottom: em(6);
  word-wrap    : break-word;
  font-family  : $serif;
  line-height  : em(20);
}
