/*--------------------------------------------------------------
# Badges
--------------------------------------------------------------*/
.badge {
  position        : relative;
  bottom          : em(13);
  padding         : 0 em(5);
  min-width       : em(26);
  height          : em(26);
  border          : 1px solid $c__berlin;
  border-radius   : em(10);
  background-color: $c__vienna;
  color           : $c__rome;
  text-align      : center;
  text-decoration : none;
  word-break      : break-all;
  font-size       : rem(12);
  line-height     : rem(24);
}
.badge-baseline {
  padding         : 0 em(5);
  min-width       : em(26);
  height          : em(26);
  border          : 1px solid $c__berlin;
  border-radius   : em(10);
  background-color: $c__vienna;
  color           : $c__rome;
  text-align      : center;
  text-decoration : none;
  word-break      : break-all;
  font-size       : rem(10);
  line-height     : rem(24);
  margin: 0 em(6);
}
