/*--------------------------------------------------------------
# Root, Globals, HTML, Body
--------------------------------------------------------------*/

* {
  box-sizing       : border-box;
  background-repeat: no-repeat;
}

html {
  line-height             : 1.15;  /* normalize */

  -webkit-text-size-adjust: 100%;  /* normalize */
}

body {
  margin                : 0;
  background-color      : $c__madrid;
  background-color      : $body-background;
  color                 : $c__rome;
  font-size             : $font-size;
  font-family           : $sans;
  line-height           : $line-height;

  font-display          : swap; //see https://web.dev/avoid-invisible-text/
  -webkit-font-smoothing: antialiased;
}

p {}

main {
  display: block; /* normalize */
}
