/*--------------------------------------------------------------
# Root, Globals, HTML, Body
--------------------------------------------------------------*/

* {
  box-sizing       : border-box;
  background-repeat: no-repeat;
}

html {
  line-height             : 1.15;  /* normalize */
  -webkit-text-size-adjust: 100%;  /* normalize */
  font-size: 100%; /*16px*/
}

body {
  margin                : 0;
  background-color      : $ui-01;
  background-color      : $body-background;
  color                 : $text-01;
  font-size             : $font-size;
  font-family           : $sans;
  line-height           : $line-height;

  font-display          : swap; //see https://web.dev/avoid-invisible-text/
  -webkit-font-smoothing: antialiased;
}

p {
  margin-block-end: $spacing-01;
}

main {
  display: block; /* normalize */
}
