/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.button,
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  margin          : em(6) 0;
  padding         : em(6) em(12);
  min-width       : em(48);
  border          : $border;
  border-radius   : $radius;
  background-color: $ui-01;
  box-shadow      : $shadow;
  color           : $text-01;
  text-align      : center;
  text-decoration : none;
  text-transform  : none;
  white-space     : nowrap;
  font-size       : em(14);
  cursor          : pointer;

  &:hover {
    border          : 1px solid $ui-05;
    background-color: $ui-02;
    box-shadow      : $shadow2;
    color           : $text-01;
    text-decoration : none;
  }

  &:active {
    border    : 1px solid $brand-01;
    box-shadow: $shadow2;
    color     : $brand-01;
  }
}

button:disabled,
button[disabled],
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
  color : $ui-05;
  cursor: not-allowed;

  &:hover {
    border    : $border;
    box-shadow: $shadow;
    color     : $ui-border;
  }

}
