/*--------------------------------------------------------------
# Code
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Preformatted Text
--------------------------------------------------------------*/
pre {
  overflow     : auto;
  padding      : em(12) em(24);
  max-height   : 80vh;
  border-bottom: $border;
  border-radius: $radius;
  background   : $ui-02;
  font-size    : em(14);
  font-family  : $mono;
}

/*--------------------------------------------------------------
## Code, Variables
Note: tt is deprecated and should not be used
--------------------------------------------------------------*/
code,
tt,
var {
  padding      : em(3) em(6);
  border-bottom: $border;
  border-radius: $radius;
  background   : $ui-02;
  color        : $text-01;
  font-size    : em(14);
  font-family  : $mono;
}

/*--------------------------------------------------------------
## Keyboard
--------------------------------------------------------------*/
kbd {
  padding      : em(3) em(6);
  border       : 1px solid $ui-border;
  border-radius: em(3);
  background   : $white;
  box-shadow   : 0 1px 0 $ui-shadow-01, 0 0 0 1px $white inset;
  text-shadow  : 0 1px 0 $ui-shadow-01;
  font-size    : em(14);
  font-family  : $mono;
}

/*--------------------------------------------------------------
## Sample output
--------------------------------------------------------------*/
samp {
  display         : inline-flex;
  padding         : em(0) em(6);
  border-radius   : $radius;
  background-color: #333;
  color           : #4AF626;
  font-size       : em(14);
  font-family     : $mono;
}
