/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
details {
  display         : block; /* normalize */
  padding         : em(8) em(10);
  border          : $border;
  border-radius   : $radius;
  background-color: $ui-01;
  box-shadow      : $shadow;
  color           : $text-01;

  &:hover {
    box-shadow: $shadow2;
  }
}

summary {
  display: list-item; /* normalize */
  &:hover {
    cursor: pointer;
  }
}

details[open] summary {
  margin-bottom : em(12);
  padding-bottom: em(6);
  border-bottom : $border;
  font-weight   : bold;

}
