/*--------------------------------------------------------------
# Explanations
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Abbreviation
Note: acronym is deprecated and should not be used
--------------------------------------------------------------*/
abbr[title] {
  border-bottom  : 1px dotted $ui-05;
  // border-bottom  : none; /* normalize */
  text-decoration: none;
  // text-decoration: underline; /* normalize */
  // text-decoration: underline dotted; /* normalize */
  cursor         : help;
}

/*--------------------------------------------------------------
##  Defining instance
--------------------------------------------------------------*/
dfn {
  border-bottom  : 1px dotted $ui-05;
  text-decoration: none;
}
