/*--------------------------------------------------------------
# Figures
--------------------------------------------------------------*/

figure {
//  width     : auto;
//  height    : 100%;
//  text-align: center;
margin-block-end: $spacing-02;

  img {
    //margin       : 0;
  }
}

figcaption {
  text-align: center;
  font-size : $font-size-small;
}
