/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
form {}
/*--------------------------------------------------------------
## Label
--------------------------------------------------------------*/
label {
  font-size: em(12);
}

/*--------------------------------------------------------------
## Fieldset
--------------------------------------------------------------*/
fieldset {
  margin       : em(12) 0;
  border       : $border;
  border-radius: $radius;
}

legend {
  padding    : 0 em(6);
  font-size  : small;
  line-height: em(16);
}

/*--------------------------------------------------------------
## Input, Textarea
--------------------------------------------------------------*/
input,
textarea {
  padding    : 0 em(6);
  max-width  : 100%;
  border     : $border;
  box-shadow : inset $shadow-03;
  font-family: $sans;

  &:hover {
    border    : 1px solid $blue;
    box-shadow: inset $shadow;
  }

  &:focus {
    outline     : none;
    border-color: $blue;
    box-shadow  : inset 0 0 0 2px rgba($blue,.2);
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
textarea {
  display      : block;
  padding      : em(6);
  border-radius: $radius;
  color        : $ui-06;
  font-size    : rem(16);

  &:focus {
    color: $text-01;
  }
}

input[type=checkbox],
input[type=radio] {
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }
}


.invalid {
    outline     : none;
    border-color: $red;
    box-shadow  : inset 0 0 0 2px rgba($red,.2);}

/*--------------------------------------------------------------
## Color input
--------------------------------------------------------------*/

input[type=color],
input[type=image] {
  padding      : 0;
  outline      : 0;
  border       : $border;
  border-radius: em(3);
  box-shadow   : inset $shadow-03;

  appearance   : none;

  &:hover {
    border    : 1px solid $ui-05;
    box-shadow: inset $shadow;
  }

  &::-webkit-color-swatch-wrapper {
    padding: em(6);
  }

  &::-webkit-color-swatch {}
}

/*--------------------------------------------------------------
## Range Slider
--------------------------------------------------------------*/

input[type=range] {
  padding      : 0;
  height       : em(4);
  border-radius: em(12);
  box-shadow   : none;
  cursor       : pointer;

  appearance   : none;

  &:hover {
    background: transparent;
    /* Otherwise white in Chrome */
  }
}

/*--------------------------------------------------------------
## File input
--------------------------------------------------------------*/
input[type="file"] {
  border    : none;
  box-shadow: none;
}

/*--------------------------------------------------------------
## Select Dropdown
--------------------------------------------------------------*/
select {
  display           : inline-block;
  padding           : em(4) em(24) em(4) em(8);
  border            : $border;
  background        : url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+") no-repeat 95% 50%;
  background-color  : $ui-01;
  box-shadow        : $shadow;
  font-size         : rem(14);
  /* remove default glow effect & add arrows again */

  -webkit-appearance: none;

  &:hover {
    border          : 1px solid $ui-05;
    background-color: $ui-02;
    box-shadow      : $shadow2;
    cursor          : pointer;
  }
}
