/*--------------------------------------------------------------
# Headlines
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Headline Group
--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
hgroup {
  font-weight: 500;
  font-family: $serif;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

/*--------------------------------------------------------------
## Breakpoint Mobile
--------------------------------------------------------------*/
h1 {
  margin     : 0.67em 0;  /* normalize */
  color      : $text-02;
  font-size  : em(32);
  line-height: em(24);
}

h2 {
  color      : $text-03;
  font-style : italic;
  font-size  : em(24);
  line-height: em(22);
}

h3 {
  font-size  : em(22);
  line-height: em(22);
}

h4 {
  font-size  : em(20);
  line-height: em(24);
}

h5 {
  font-size: em(18);
}

h5 {
  font-size: em(16);
}
/*--------------------------------------------------------------
## Breakpoint Medium + Large
--------------------------------------------------------------*/
@include bp(medium) {
  h1 {
    font-size  : em(48);
    line-height: em(22);
  }

  h2 {
    font-size: em(28);
  }

  h3 {
    font-size: em(24);
  }
}
