/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
  color          : $c__rome;
  text-decoration: none;

  &:visited {
    color: $c__brussels;
  }

  &:active,
  &:focus,
  &:hover {
    color                : $c__brussels;
    text-decoration      : underline;
    text-decoration-color: $c__amsterdam;
  }
}
