/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
  color          : $link;
  text-decoration-color: $ui-border;

  &:visited {
    color: $link-visted;
  }

  &:active,
  &:focus,
  &:hover {
    color                : $link-hover;
    text-decoration-color: $link-hover;
  }
}
