/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Ordered & Unordered List
--------------------------------------------------------------*/
ol,
ul {
  margin: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ol,
li > ul {
  margin      : 0;
  padding-inline-start: $spacing-01;
}

/*--------------------------------------------------------------
## Definition List
--------------------------------------------------------------*/
dl {}

dt {
  font-weight: bold;
}

dd {
  margin-block-end: $spacing-01;
}
