/*--------------------------------------------------------------
# Bars
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Progress bar
--------------------------------------------------------------*/
progress {
  overflow     : hidden;
  height       : em(12);
  border       : $border;
  border-radius: $radius;
  vertical-align: baseline; /* normalize */
}

progress::-webkit-progress-bar {
  background-color: $ui-03;
  box-shadow      : inset $shadow;
}

progress::-webkit-progress-value {
  background      : linear-gradient(to right, $brand-01, darken($brand-01, 5%));
  background-color: $brand-01;
}

/*--------------------------------------------------------------
## Meter
--------------------------------------------------------------*/
meter {
  /* add you styling here
   * this might be helpful:
   * https://css-tricks.com/html5-meter-element/
  */
}
