/*--------------------------------------------------------------
# Quotes
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## cite, q
--------------------------------------------------------------*/
cite,
q {
  padding    : em(3) em(6);
  color      : $c__rome;
  font-style : italic;
  font-size  : em(15);
  font-family: $serif;
}

/*--------------------------------------------------------------
## blockquote
--------------------------------------------------------------*/
blockquote {
  margin          : em(24);
  padding         : em(12) em(24);
  border-radius   : $radius;
  background-color: $c__sofia;
  box-shadow      : 0 1px 1px $c__warsaw;
  font-style      : italic;
  font-size       : em(16);
  font-family     : $serif;
  p{
    margin: em(12) em(0);
  }
}
