/*--------------------------------------------------------------
# Quotes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## blockquote
--------------------------------------------------------------*/
blockquote {
  margin     : em(24) em(12);
  padding    : em(12) em(24);
  border-left: 3px double $ui-border;
  font-style : italic;
}

/*--------------------------------------------------------------
## cite, q
--------------------------------------------------------------*/
cite,
q {
  padding    : em(3) em(6);
  font-style : italic;
  font-size  : em(15);
  font-family: $serif;
}
