/*--------------------------------------------------------------
# Quotes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## blockquote
--------------------------------------------------------------*/
blockquote {
  font-weight       : 600;

  margin-block-start: $spacing-02;
  margin-block-end  : $spacing-02;

  p:first-of-type {}

  p:last-of-type {}

  &::before {
    display    : inline-block;
    position: absolute;
    color      : $ui-07;
    content    : '\201c';
    transform: scale(2.5);
    text-indent: -.5em
  }
}

/*--------------------------------------------------------------
## cite, q
--------------------------------------------------------------*/
cite,
q {
  padding    : em(3) em(6);
  font-style : italic;
  font-size  : em(15);
  font-family: $serif;
}
