/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Responsive Table container

inspired by http://maxdesign.com.au/articles/simple-responsive-table/
--------------------------------------------------------------*/
.table-container {
  overflow-y: auto;
  width     : 100%;
}

/*--------------------------------------------------------------
## Table Content
--------------------------------------------------------------*/
table {
  overflow       : scroll;
  margin         : em(12) 0;
  border-collapse: collapse;
  border-style   : hidden;
  box-shadow     : 0 1px 1px $ui-07;
  table-layout   : fixed;
}
table, th, td {
  border: 1px solid $ui-border;
}

td,
th,
tr {
  margin : 0;
  padding: em(6) em(12);
  border: 1px dotted $ui-border;
}

/*--------------------------------------------------------------
## Table header
--------------------------------------------------------------*/
th, thead {
  background   : $ui-03;
  text-align   : left;
  font-weight  : bold;
}

/*--------------------------------------------------------------
## Table body
--------------------------------------------------------------*/
tbody {}

/*--------------------------------------------------------------
## Table footer
--------------------------------------------------------------*/
tfoot {}

/*--------------------------------------------------------------
## Table striped
--------------------------------------------------------------*/
.table-striped {
  tr:nth-child(odd) {
    background-color: $ui-02;
  }
}

/*--------------------------------------------------------------
## Table narrow
--------------------------------------------------------------*/
.table-narrow {
  td,
  th,
  tr {
    padding    : em(4) em(8);
    font-size  : em(14);
    line-height: em(16);
  }
}
