/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Responsive Table container

inspired by http://maxdesign.com.au/articles/simple-responsive-table/
--------------------------------------------------------------*/
.table-container {
  overflow-y: auto;
  width     : 100%;
}

/*--------------------------------------------------------------
## Table Content
--------------------------------------------------------------*/
table {
  overflow       : scroll;
  margin-block-end: $spacing-02;
  border-collapse: collapse;
  border-style   : hidden;
  box-shadow     : $shadow;
  table-layout   : fixed;
}
table, th, td {
  border-bottom: 1px solid $ui-border;
}

td,
th,
tr {
  margin : 0;
  padding: 0.5rem 0.75rem;
  &:hover{
    background-color: $ui-03;
  }
}

/*--------------------------------------------------------------
## Table header
--------------------------------------------------------------*/
th, thead {
  background   : $ui-03;
  text-align   : left;
  font-weight  : bold;
}

/*--------------------------------------------------------------
## Table body
--------------------------------------------------------------*/
tbody {}

/*--------------------------------------------------------------
## Table footer
--------------------------------------------------------------*/
tfoot {}

/*--------------------------------------------------------------
## Table striped
--------------------------------------------------------------*/
.table-striped {
  tr:nth-child(odd) {
    background-color: $ui-02;
  }
}

/*--------------------------------------------------------------
## Table narrow
--------------------------------------------------------------*/
.table-narrow {
  td,
  th,
  tr {
    padding    : 0.4rem 0.4rem;
    font-size  : $font-size-small;
    line-height: 1;
  }
}
