/*--------------------------------------------------------------
# Text
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Bring Attention To & Strong
--------------------------------------------------------------*/
b,
strong {
  font-weight: bolder; /* normalize */
}

/*--------------------------------------------------------------
## Emphasis & i
--------------------------------------------------------------*/
em,
i {
  font-style: italic;
}

/*--------------------------------------------------------------
## Subscript & Superscript
--------------------------------------------------------------*/
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 * normalize
 */


 sub,
 sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
 }

 sub {
   bottom: -0.25em;
 }

 sup {
   top: -0.5em;
 }

/*--------------------------------------------------------------
## Small
--------------------------------------------------------------*/
small {
  font-size: $font-size-small;
}

/*--------------------------------------------------------------
## Unarticulated Annotation
avoid to use it for underlining text.
see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/u
--------------------------------------------------------------*/
u {
  text-decoration: $red wavy underline;
}

/*--------------------------------------------------------------
## s
--------------------------------------------------------------*/
s {
  text-decoration: line-through;
}
/*--------------------------------------------------------------
## Mark
--------------------------------------------------------------*/
mark {
  background: yellow;
}
/*--------------------------------------------------------------
## Demarcating edits
--------------------------------------------------------------*/
del {
  background: #F9CBCA;
}

ins {
  background     : #B2E1C7;
  text-decoration: none;
}
/*--------------------------------------------------------------
## Selection
--------------------------------------------------------------*/
::selection {
  background-color: $yellow;
}
