/*--------------------------------------------------------------
# Layout variables
--------------------------------------------------------------*/
$site-wrapper: 100%, 640px, 960px; //please consider breakpoints.scss
$entry-wrapper: 100%, 540px, 720px;
$header: em(60);
$header-top: em(80);
