/*--------------------------------------------------------------
# Styling variables
--------------------------------------------------------------*/
$radius: 2px;
$border: 1px solid $ui-border;
$shadow: 0 1px 1px $ui-shadow-01;
$shadow2: 0 1px 2px $ui-shadow-01;
$shadow-03: 0 1px 1px $ui-shadow-02;
