/*--------------------------------------------------------------
### drawer-navigation
--------------------------------------------------------------*/

.drawer-navigation {
  .menu {
    //padding-bottom: 10vh;
  }

  ul {
    margin    : 0;
    padding   : em(12) 0;
    list-style: none;

    li a {
      display        : block;
      padding        : 0.5rem 0 0.5rem 0.5rem;
      text-decoration: none;

      &:hover {
        background-color: $c__sofia;
      }
    }

    ul {
      padding: 0 0 0 em(16);

      li a {
        border-left: 1px solid $c__berlin;
      }

      ul ul ul ul {
        padding-left: 4px; //Less padding in Level 5
      }
    }
  }
}
