/*--------------------------------------------------------------
.main-navigation
--------------------------------------------------------------*/
// inspired by https://codepen.io/divinector/pen/GaEJPO
.primary-navigation {
  display: none; // hide in bp small
  opacity: 0; // hide in bp small
}

@include bp(large) {
  .primary-navigation {
    display   : flex;
    align-self: stretch;
    font-size : small;
    opacity   : 1;

    ul {
      padding   : 0;
      list-style: none;
    }

    // Horizontal Menu
    ul.menu {
      display    : flex;
      align-items: center;
      list-style : none;

      li {
        position: relative;
        margin  : 0;
      }

      // Text styling goes here:
      a {
        display         : flex;
        align-items     : center;
        padding         : 0.5em 1em;
        //height          : $header;
        text-decoration : none;
        border-bottom   : 1px solid $c__madrid;
        color           : $c__rome;
        background-color: $c__madrid;
        letter-spacing  : 0.1em;

        &:visited {
          color: $c__rome;
        }

        &:hover {
          background   : $c__sofia;
        }
      }
    }
    // .menu

    // sub-menu Level 1
    ul.sub-menu {
      position        : absolute;
      display         : none;
      flex-direction  : column;
      width           : 14em;
      background      : $c__sofia;
      border          : 1px solid $c__berlin;
      background-color: $c__madrid;
      box-shadow      : 0 1px 2px $c__warsaw;
      visibility      : hidden;
      opacity         : 0;

      a {
        text-transform: none;
        font-weight   : normal;
      }
    }

    // sub-menu Level 2
    ul.sub-menu ul.sub-menu {
      position        : absolute;
      top             : 0;
      left            : -100%;
      display         : flex;
      flex-direction  : column;
      width           : 14em;
      background      : $c__sofia;
      border          : 1px solid $c__berlin;
      background-color: $c__madrid;
      box-shadow      : 0 1px 2px $c__warsaw;
      visibility      : hidden;
      opacity         : 0;
    }

    // sub-menu Level 3
    ul.sub-menu ul.sub-menu ul.sub-menu {
      position        : absolute;
      top             : 0;
      left            : -100%;
      display         : flex;
      flex-direction  : column;
      width           : 14em;
      background      : $c__sofia;
      border          : 1px solid $c__berlin;
      background-color: $c__madrid;
      box-shadow      : 0 1px 2px $c__warsaw;
      visibility      : hidden;
      opacity         : 0;
    }

    // opening mechanism
    .menu {
      li:hover ul {
        display   : flex;
        visibility: visible;
        opacity   : 1;

        ul,
        ul ul {
          visibility: hidden;
          opacity   : 0;
        }
      }

      li li:hover ul {
        visibility: visible;
        opacity   : 1;
      }

      li li li:hover ul {
        visibility: visible;
        opacity   : 1;
      }
    }

  }
  // primary-navigation

}
// bp(large)
