/*--------------------------------------------------------------
# .error-404
--------------------------------------------------------------*/
.error-404 {
  display       : flex;
  align-items   : center;
  flex-direction: column;

  h1 {
    font-size: 6rem;
    font-weight: bolder;
  }
  p{
    text-align: center;
  }
  a{
    font-size: small;
  }

}
