/*--------------------------------------------------------------
.footer-widgets
--------------------------------------------------------------*/

.footer-widgets {
  display        : flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: em(12);

  .widget {
    margin    : 0 em(12);
    flex: 1 1 0;
  }
}

h2.widget-title{
  font-size: em(24);
  line-height: $line-height;
  text-align: left;
}
