/*--------------------------------------------------------------
site-footer
--------------------------------------------------------------*/
.site-footer {
  margin-top       : em(32);
  padding          : em(24) em(12);
  border-top       : 1px solid lighten(#232323, 10);
  background-color : #232323;
  color            : #ccc;
  background-image : svg-pattern('%23151515'); //to use hex see https://codepen.io/gunnarbittersmann/pen/BoovjR
  background-repeat: repeat;

  a,
  a:hover,
  a:visited,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $c__madrid;

  }

  .custom-logo-link img {
    background-color: $c__sofia;
    border-radius   : $radius;
    padding         : em(6) em(8);
  }

  /* dev tool to visualize the break points
  border-top: 2px solid lightpink;
  @include bp(medium){
    border-top: 2px solid powderblue;
  }
  @include bp(large){
    border-top: 2px solid 	palegreen;
  }
  */
}
