/*--------------------------------------------------------------
site-footer
--------------------------------------------------------------*/
.site-footer {
  margin-top      : em(24);
  padding         : em(24) em(12);
  background-color: $ui-08;
  color           : $text-06;
  font-size       : small;
}
