/*--------------------------------------------------------------
.entry-home
--------------------------------------------------------------*/
.entry-home {
  display          : flex;
  flex-direction   : column;
  margin           : 0 em(12);
  padding          : em(16);
  border           : 1px solid $c__vienna;
  border-radius    : $radius;
  background-color : $c__sofia;
  background-image : svg-pattern('%23f3f3f3'); //to use hex see https://codepen.io/gunnarbittersmann/pen/BoovjR
  background-repeat: repeat;
  box-shadow       : $shadow;

  @include bp(medium) {
    flex-direction: row;
    margin        : 0 auto;
    padding       : em(24);
    width         : nth($site-wrapper, 2);
  }
  @include bp(large) {
    padding: em(36);
    width  : nth($site-wrapper, 3);
  }

  h1 a {
    background: linear-gradient(0deg,
    transparent 8%,
    $c__amsterdam 8%,
    $c__amsterdam 33%,
    transparent 33%);
    font-size : em(16);
    text-decoration: none; // prevents flickering

    &:hover {
      background: linear-gradient(0deg,
      transparent 4%,
      darken($c__amsterdam, 5%) 4%,
      darken($c__amsterdam, 5%) 8%,
      $c__amsterdam 8%,
      $c__amsterdam 38%,
      transparent 38%);
      text-decoration: none;
    }
    &:active{
      text-decoration: none; // prevents flickering
    }
  }

  &:first-child {
    margin-top: em(48);
  }

  &:last-child {
    margin-bottom: em(48);
  }

  .excerpt {
    font-size: em(16);
  }
}

.category-reiseziele {
  .entry-home {
    background-image : svg-pattern-reiseziele('%23f3f3f3'); //to use hex see https://codepen.io/gunnarbittersmann/pen/BoovjR
    background-repeat: repeat;

    h1 a {
      background: linear-gradient(0deg,
      transparent 8%,
      lighten($c__stockholm, 15%) 8%,
      lighten($c__stockholm, 15%) 33%,
      transparent 33%);
      font-size : em(16);
      text-decoration: none;

      &:hover {
        background: linear-gradient(0deg,
        transparent 4%,
        $c__stockholm 4%,
        $c__stockholm 8%,
        lighten($c__stockholm, 15%) 8%,
        lighten($c__stockholm, 15%) 38%,
        transparent 38%);
        text-decoration: none;
      }
      &:active{
        text-decoration: none; // prevents flickering
      }
    }
  }
}

.category-rezepte {
  .entry-home {
    background-image : svg-pattern-rezepte('%23f3f3f3'); //to use hex see https://codepen.io/gunnarbittersmann/pen/BoovjR
    background-repeat: repeat;
  }
}
