/*--------------------------------------------------------------
.entry-meta
--------------------------------------------------------------*/
.entry-meta {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  padding        : em(16);
  width          : 100%;
  text-align     : center;

  & * {
    transition: 0.2s ease;
  }
}

.entry-title h1 {
  font-weight: 500;

  a:hover {
    text-decoration: underline;
  }
}

.excerpt {
  margin-bottom: em(12);
  word-break   : break-word;
  font-family  : $serif;
  font-size    : em(18);
  overflow-wrap: break-word;
}

.posted-in-categories,
.posted-on {
  margin    : 0 auto em(12);
  max-width : 50%; // prevent too wide blocks
  text-align: center;
}

.posted-on,
.posted-on a,
.posted-on a time {
  color          : rgba($c__budapest, 0.6);
  text-decoration: none;
  font-size      : small;

  .updated {
    display: none;
  }
}

.readmore {}

.comment-link {
  margin-top: em(24);
}

.cat-links,
.cat-links a,
.comments-link a {
  color          : rgba($c__budapest, 0.6);
  text-decoration: none;
  font-size      : small;

  &:hover {
    color: $c__budapest;
  }
}

.breadcrumb,
.breadcrumb a {
  color          : rgba($c__budapest, 0.6);
  text-decoration: none;
  font-size      : small;
}
