/*--------------------------------------------------------------
.entry-content
--------------------------------------------------------------*/
.entry-content {
  display       : flex;
  flex-direction: column;
  padding       : em(12);
  // width is controlled by .site-wrapper and .entry-wrapper

  @include bp(medium) {
    margin : em(24) auto;
    padding: 0;
  }
}
