/*--------------------------------------------------------------
# .cookies
--------------------------------------------------------------*/
.cookies {
  position        : fixed;
  right           : 0;
  bottom          : 0;
  z-index         : 1000;
  margin          : em(48);
  padding         : em(24);
  border          : 1px solid $c__prague;
  border-radius   : $radius;
  background-color: $c__madrid;
  box-shadow      : $shadow;
  text-align      : center;
  font-size       : smaller;
  @include bp(medium){
    max-width       : 40%;
  }
  @include bp(large){
    max-width       : 25%;
  }
}

.accept-cookies {}

.cookies-info,
.show-cookies {
  color    : $c__prague;
  font-size: smaller;

  a,
  a:visited {
    color          : inherit;
    text-decoration: none;
  }

  a:hover {
    color          : $c__prague;
    text-decoration: underline;
  }
}
