/*--------------------------------------------------------------
.header
--------------------------------------------------------------*/
.header {
  display        : flex; // makes it possible to center vertically
  align-content  : center;
  align-items    : center;
  flex-direction : row;
  justify-content: center;
  height         : 100%;

  @include bp(large) {
    justify-content: space-between;
  }
}
