/*--------------------------------------------------------------
.site-branding
--------------------------------------------------------------*/
.site-branding {
  display    : flex;
  align-items: center;
  //height     : 100%;
}

//logo when on top
.site-branding .custom-logo-link {
  display    : flex;
  align-items: center;

  img {
    padding   : em(6) em(0);
    max-height: $header;
    max-width : 200px;
    width     : auto; // avoid stretching
    transition: 0.5s ease;
  }
}

//regular header
.site-header-scroll .custom-logo-link img {
  padding: em(12) em(0);
}
