/*--------------------------------------------------------------
# center-block

Use this mixin to center a block vertically.
(c) underscores.me
--------------------------------------------------------------*/

@mixin center-block {
	display     : block;
	margin-right: auto;
	margin-left : auto;
}

.center-block{
	@include center-block();
}

/*--------------------------------------------------------------
# center div
*
* via https://codepen.io/painteractive/pen/qqroYw
* center vertically and/or horizontally an absolute positioned element
--------------------------------------------------------------*/

@mixin center($xy:xy) {
  @if $xy == xy {
    left     : 50%;
    top      : 50%;
    bottom   : auto;
    right    : auto;
    transform: translateX(-50%) translateY(-50%);
  } @else
  if $xy == x {
    left     : 50%;
    right    : auto;
    transform: translateX(-50%);
  } @else
  if $xy == y {
    top      : 50%;
    bottom   : auto;
    transform: translateY(-50%);
  }
}

.center{
	@include center();
}
