/*--------------------------------------------------------------
# Grid

candors built in flex 12 grid system
inspired by https://css-tricks.com/responsive-designs-and-css-custom-properties-building-a-flexible-grid-system/
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Config
--------------------------------------------------------------*/
$grid__columns: 12; // Number of columns in the grid system
$grid__width: 100%; // in percentage

.row {
  display: flex;
  padding: 0;
}

[class*="grid"],
[class^="grid"] {
  flex  : auto;
  margin: 0 auto;
}

.grid {width: $grid__width;}
.grid1 {width: $grid__width / ($grid__columns / 1);}
.grid2 {width: $grid__width / ($grid__columns / 2);}
.grid3 {width: $grid__width / ($grid__columns / 3);}
.grid4 {width: $grid__width / ($grid__columns / 4);}
.grid5 {width: $grid__width / ($grid__columns / 5);}
.grid6 {width: $grid__width / ($grid__columns / 6);}
.grid7 {width: $grid__width / ($grid__columns / 7);}
.grid8 {width: $grid__width / ($grid__columns / 8);}
.grid9 {width: $grid__width / ($grid__columns / 9);}
.grid10 {width: $grid__width / ($grid__columns / 10);}
.grid11 {width: $grid__width / ($grid__columns / 11);}
.grid12 {width: $grid__width;}

/*--------------------------------------------------------------
## Small
--------------------------------------------------------------*/
@include bp(small) {
  .row {
    flex-direction: column;
  }
  [class*="grid"],
  [class^="grid"] {
    width: 100%;
  }
}


/*--------------------------------------------------------------
## Medium
--------------------------------------------------------------*/
@include bp(medium) {
  .row {
    flex-direction: row;
  }
  [class*="grid"],
  [class^="grid"] {
    margin: 0 em(6);
    &:first-child {
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}


/*--------------------------------------------------------------
# Reset margins
--------------------------------------------------------------*/
.margin0{
  [class*="grid"],
  [class^="grid"] {
    flex  : auto;
    margin: 0 0;

    &:last-child {
      margin-right: em(0);
    }
  }
}
