/*--------------------------------------------------------------
# site-drawer
--------------------------------------------------------------*/
.site-drawer {
  position        : fixed;
  top             : 0;
  right           : 0;
  z-index         : 10; // on top of search__icon
  display         : none;
  visibility      : hidden;
  overflow        : hidden;
  overflow-y      : scroll;
  padding         : em(12) em(12) em(48);
  width           : 80vw;
  height          : 100vh;
  background-color: $c__madrid;
  border-left     : 1px solid $c__prague;
  box-shadow      : inset 2px 1px 2px 0 $c__warsaw;
}

.site-drawer-open {
  display       : flex;
  visibility    : visible;
  flex-direction: column;
}
@include bp(medium) {
  .site-drawer {
    width: 30em;
  }
}

@include bp(large) {
  .site-drawer {
    padding-bottom: em(24);
  }
}
