/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
form {}
/*--------------------------------------------------------------
## Label
--------------------------------------------------------------*/
label {
  font-size: em(12);
}

/*--------------------------------------------------------------
## Fieldset
--------------------------------------------------------------*/
fieldset {
  margin       : em(12) 0;
  border       : 1px solid $c__berlin;
  border-radius: $radius;
}

legend {
  padding    : 0 em(6);
  font-size  : small;
  line-height: em(16);
}

/*--------------------------------------------------------------
## Input, Textarea
--------------------------------------------------------------*/
input,
textarea {
  padding    : 0 em(6);
  max-width  : 100%;
  border     : 1px solid $c__berlin;
  box-shadow : inset 0 1px 1px $c__bucharest;
  font-family: $sans;

  &:hover {
    border    : 1px solid $blue;
    box-shadow: inset 0 1px 1px $c__warsaw;
  }

  &:focus {
    outline     : none;
    border-color: $blue;
    box-shadow  : inset 0 0 0 2px rgba($blue,.2);
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
textarea {
  display      : block;
  padding      : em(6);
  border-radius: $radius;
  color        : $c__budapest;
  font-size    : rem(16);

  &:focus {
    color: $c__rome;
  }
}

input[type=checkbox],
input[type=radio] {
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }
}


.invalid {
    outline     : none;
    border-color: $red;
    box-shadow  : inset 0 0 0 2px rgba($red,.2);}

/*--------------------------------------------------------------
## Color input
--------------------------------------------------------------*/

input[type=color],
input[type=image] {
  padding      : 0;
  outline      : 0;
  border       : 1px solid $c__berlin;
  border-radius: em(3);
  box-shadow   : inset 0 1px 1px $c__bucharest;

  appearance   : none;

  &:hover {
    border    : 1px solid $c__prague;
    box-shadow: inset 0 1px 1px $c__warsaw;
  }

  &::-webkit-color-swatch-wrapper {
    padding: em(6);
  }

  &::-webkit-color-swatch {}
}

/*--------------------------------------------------------------
## Range Slider
--------------------------------------------------------------*/

input[type=range] {
  padding      : 0;
  height       : em(4);
  border-radius: em(12);
  box-shadow   : none;
  cursor       : pointer;

  appearance   : none;

  &:hover {
    background: transparent;
    /* Otherwise white in Chrome */
  }
}

/*--------------------------------------------------------------
## File input
--------------------------------------------------------------*/
input[type="file"] {
  border    : none;
  box-shadow: none;
}

/*--------------------------------------------------------------
## Select Dropdown
--------------------------------------------------------------*/
select {
  display           : inline-block;
  padding           : em(6) em(16) em(6) em(8);
  border            : 1px solid $c__berlin;
  background        : url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+") no-repeat 95% 50%;
  background-color  : $c__madrid;
  box-shadow        : 0 1px 1px $c__warsaw;
  font-size         : rem(14);
  /* remove default glow effect & add arrows again */

  -webkit-appearance: none;

  &:hover {
    border          : 1px solid $c__prague;
    background-color: $c__sofia;
    box-shadow      : 0 1px 2px $c__warsaw;
    cursor          : pointer;
  }
}

/*--------------------------------------------------------------
## Search form
--------------------------------------------------------------*/
.searchform {
  display        : flex;
  align-items    : center;
  flex-direction : row;
  justify-content: center;
  padding        : em(12) em(48);

  input[type=text] {
    flex         : 1;
    margin-right : 0;
    height       : em(36);
    padding      : em(16);
    border-radius: $radius 0 0 $radius;
    font-size    : $font-size;
  }

  input[type=submit], button[type=submit] {
    height       : em(36);
    border-left : 0;
    border-radius: 0 $radius $radius 0;
    min-width: em(72);
  }
}
