/*--------------------------------------------------------------
# Text
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Bring Attention To & Strong
--------------------------------------------------------------*/
b,
strong {
  font-weight: bold;
}

/*--------------------------------------------------------------
## Emphasis & i
--------------------------------------------------------------*/
em,
i {
  font-style: italic;
}

/*--------------------------------------------------------------
## Subscript & Superscript
--------------------------------------------------------------*/
sub,
sup {}

/*--------------------------------------------------------------
## Small
--------------------------------------------------------------*/
small {
  font-size: em(12);
}

/*--------------------------------------------------------------
## Unarticulated Annotation
avoid to use it for underlining text.
see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/u
--------------------------------------------------------------*/
u {
  text-decoration: $red wavy underline;
}

/*--------------------------------------------------------------
## s
--------------------------------------------------------------*/
s {
  text-decoration: line-through;
}
/*--------------------------------------------------------------
## Mark
--------------------------------------------------------------*/
mark {
  background: #FFEED8;
}
/*--------------------------------------------------------------
## Demarcating edits
--------------------------------------------------------------*/
del {
  background: #F9CBCA;
}

ins {
  background     : #B2E1C7;
  text-decoration: none;
}
/*--------------------------------------------------------------
## Selection
--------------------------------------------------------------*/
::selection {
  background-color: $yellow;
}
