/*--------------------------------------------------------------
# work-break for responsiveness

Please note: word-break & word-wrap look similar but are not the same.
If you prefer having hypens, use hypens:auto.
--------------------------------------------------------------*/
div[class^="wp-block-embed_"],
div[id^="attachment_"],
iframe {
  overflow  : auto;
  margin    : 0;
  max-width : 100%;
  word-break: break-word;
}

.entry-header {
  word-wrap: break-word;
}
